input:focus,
textarea:focus {
  outline: 1px solid var(--brand-light);
}

#description {
  &:hover {
    filter: brightness(1.1);
  }
}

.radio-wrapper {
  &:hover {
    filter: brightness(1.1);
  }
}