.pattern {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.color-title {
padding: 0;
}


.radio-inner {
  border-radius: .35rem ;
  position: relative;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  margin: 0.5rem;
  align-items: center;
  justify-content: center;
  
  
  
  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }
  
  &:has(:checked) {
  
  background-color: var(--input-stroke);
 }

}

.radio-wrapper {
  display: flex;

  

  background-color: var(--input-base);
  outline: 1px solid var(--input-stroke);
  border-radius: .75rem ;
  align-items: center;
  height: 3.13rem;
  

  img {
    display: inline-block;
    height: 1rem;
    width: 1rem;
  }
  
}

.radio-inner > label {
position: relative;
top: .3rem;
}

.radio-wrapper :has(:checked) {
  & img {
  filter: invert(67%) sepia(56%) saturate(3083%) hue-rotate(184deg) brightness(104%) contrast(101%);
}
}

.color-picker {
  width: 100%;
  display: flex;
  
  }

.colors {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + .color-circle {
    outline: 2px solid var(--brand-light);
    outline-offset: 0.25rem;
    filter: brightness(1.2); 
    transition: outline 0.3s ease, filter 0.3s ease;
    gap: 0.5rem;
  }
}

.color-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  outline: .375rem solid var(--shape-button);
  cursor: pointer;

  &:hover {
  filter: brightness(1.1);
}
  &.brand-light {
    background-color: var(--brand-light);
  }
  &.navy {
    background-color: var(--navy);
  
  }
  &.purple {
    background-color: var(--purple);
   
  }
  &.fuschia {
    background-color: var(--fuschia);
   
  }
  &.pink {
    background-color: var(--pink);
   
  }
  &.danger {
    background-color: var(--danger);
  
  }
  &.orange {
    background-color: var(--orange);
  
  }
  &.yellow {
    background-color: var(--yellow);
  
  }
  &.lime {
    background-color: var(--lime);
  
  }
  &.green {
    background-color: var(--green);
   
  }
  &.cyan {
    background-color: var(--cyan);
  
  }

}
.party-theme { 
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: var(--shape-button);
  outline: 1px solid var(--input-stroke);
  min-width: 134px;
  flex: 1;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  transition: filter 0.3s ease, transform 0.3s ease;

  position: relative;


  &:has(:checked) {
  outline: 2px solid var(--brand-light);
  transform: scale(1.05);
  }

  & img {
    align-content: center;
    min-width: 95%;
    height: auto;
    margin-top: 5px;
    object-fit: contain;
    position: relative;
  }
  
  label {
    position: relative;
    top: 1rem;
  }

  &:hover {
    filter: brightness(1.1);
  }
  
  input[type="radio"] {
    display: none;
    inset: 0;
    position: absolute;
  }
}

.event-theme {
  margin-top: 1.75rem;
  display: block;

  label {
    margin-bottom: 1rem;
  }
}

.theme-options {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
 }
 

